*{margin: 0; padding: 0}

@import url('https://fonts.googleapis.com/css2?family=Coda&family=Roboto:wght@100&display=swap');
/*
    font-family: 'Coda', cursive;
    font-family: 'Roboto', sans-serif;
*/
body{
    background-color: #E8E6E6;
    
}
nav{/* Barra de Navegação*/
    background-color: #302F2F;
    overflow: hidden;
    width: 100%;
    height: 30%;
}
nav .home{
    float: left;
    display: block;
    padding: 0%;
    margin: 0 0 0 20px;
}
nav, a{
    color: white;
    float: right;
    text-decoration: none;
    padding: 0%;
    margin: 0 0 0 20px;
    font-family: 'Coda', cursive;
}

nav a:hover{
    transition: 1s;
    color: #00C2CB;
}
header, #banner{
    width: 100%;
}
article{

}

h1, h2, h3{/* Texto e Títulos*/
    font-family: 'Coda', cursive;
    color: #00C2CB;
    text-align: center;
    margin: 15px;
}
h2{
    text-align: left;
}
h3{
    margin-bottom: 10px;
    text-align: center;
}
p{
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    text-align: justify;
    text-indent: 10px;
    line-height: 15px;
}
article{
    display: flex;
    justify-content: center;
    padding: 12px 100px;
    
}
#intro{
    width: 40%;
    padding-right: 100px;
    padding-top: 50px;
}
#img-intro{
    
}    
#container{/*Trabalhos*/
    display: flex;
    justify-content: center;
}
.card{
    background-color: #fff;
    width: 20%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #000000;
}
.img-card{
    border-radius: 5px 5px 0 0; 
}
.card-tex{
    padding: 20px;
    text-align: center;
}
.card:hover{
    transition: 1s;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #00C2CB;
}
/*div de video*/
#comunidade{
    display: flex;
    justify-content: center;
    margin: 2px;
}
#text-comunidade{
    background-color: coral;
    align-items: center;
    margin: 100px;

}
#video-comunidade{

}
video{
    height: 100%;
}
footer{
       background-color:#302F2F; 
       padding: 50px 200px;
       color: #fff;
}
